![ga4](https://www.google-analytics.com/collect?v=2&tid=G-6VDTYWLKX6&cid=1&en=page_view&sid=1&dl=statmike%2Fvertex-ai-mlops%2FApplied+GenAI&dt=Vertex+AI+GenAI+For+BigQuery+Q%26A+-+Overview.ipynb)

# Answering Questions Using BigQuery Tables As Context

Ask Question of a table in BigQuery.  How?  First translated the quesiton to SQL and extract results from the BigQuery Table.  Then provide the results as context with the orignal question to an LLM for answering.

The workflow:
- Setup Enviornment
- Setup access to LLMs: Test and Code
- Retrieve Table Schemas using BigQuery Information Schema
- Translate Question to Code (SQL) with context of table schemas
- Ask an LLM to answer the question with context of results from running the generated SQL
- Ask more question!

---
## Overview


## Overview

<p><center>
    <img alt="Overview Chart" src="../Text2SQL.png" width="55%">
    <img alt="Overview Chart" src="../BigQueryQnA.png" width="55%">
</center><p>

---
## Colab Setup

To run this notebook in Colab click [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/statmike/vertex-ai-mlops/blob/main/Applied%20GenAI/Vertex%20AI%20GenAI%20For%20BigQuery%20Q&A%20-%20Overview.ipynb) and run the cells in this section.  Otherwise, skip this section.

vertex-ai-mlops/Applied GenAI/Vertex AI GenAI For BigQuery Q&A - Overview.ipynb

This cell will authenticate to GCP (follow prompts in the popup).

In [1]:
PROJECT_ID = 'analytics-ml-ai' # replace with project ID

---
## Installs and API Enablement

The clients packages may need installing in this environment.  Also, the APIs for Cloud Speech-To-Text and Cloud Text-To-Speech need to be enabled (if not already enabled).

### Installs (If Needed)

In [3]:
install = False
try: import google.cloud.aiplatform
except ImportError:
    print('You need to pip install google-cloud-aiplatform (VERTEX AI), ... commencing')
    !pip install google-cloud-aiplatform -U -q
    install = True

In [1]:
!pip install --user gradio --quiet

### Restart Kernel (If Installs Occured)

After a kernel restart the code submission can start with the next cell after this one.

In [4]:
if install:
    import IPython
    app = IPython.Application.instance()
    app.kernel.do_shutdown(True)

---
## Setup

Inputs

In [4]:
project = !gcloud config get-value project
PROJECT_ID = project[0]
PROJECT_ID

'analytics-ml-ai'

In [5]:
REGION = 'us-central1'
EXPERIMENT = 'bq-citibikes'
SERIES = 'applied-genai'

Packages

In [6]:
import vertexai.language_models
from google.cloud import aiplatform
from google.cloud import bigquery

Clients

In [7]:
# vertex ai clients
vertexai.init(project = PROJECT_ID, location = REGION)
aiplatform.init(project = PROJECT_ID, location = REGION)

# bigquery client
bq = bigquery.Client(project = PROJECT_ID)

---
## Goal

New York City has [Citibike](https://citibikenyc.com/) stations where you can rent a bicycle by the ride, the day, or subscribe monthly/annually.  There is a sample of the usage of citibike stations in BigQuery public datasets.  We would like to answer possible questions in natural langauge using this data as the source.

A possible quesiton is: Which Citibike station has the most rental during July 2015?

The appoach used here is ask an LLM to answer the question.  The approach has multiple steps:
1. Ask a code generation LLM to write a SQL query that retrives the relevant information to the question from the tables - the context
2. Run the query generated in 1
3. Ask a text generation LLM to answer the question and give it a context to help accurately answer the question - the result of 2

In [8]:
question = "Which station had most rentals (longest total duration) during July 2015?"

---
## Vertex LLM Setup

- CodeGenerationgModel [Guide](https://cloud.google.com/vertex-ai/docs/generative-ai/code/code-generation-prompts)
    - CodeGenerationModel [API](https://cloud.google.com/python/docs/reference/aiplatform/latest/vertexai.language_models.CodeGenerationModel)
- TextGenerationModel [Guide](https://cloud.google.com/vertex-ai/docs/generative-ai/text/test-text-prompts)
    - TextGenerationModel [API](https://cloud.google.com/python/docs/reference/aiplatform/latest/vertexai.preview.language_models.TextGenerationModel)

In [9]:
# create links to model: embedding api and text generation
textgen_model = vertexai.language_models.TextGenerationModel.from_pretrained('text-bison')
codegen_model = vertexai.language_models.CodeGenerationModel.from_pretrained('code-bison')

Test test generation (llm) model:

In [10]:
textgen_model.predict(f"Write a Google SQL query that answers the following question.\nquestion: {question}")

 ```sql
SELECT start_station_id,
       SUM(duration_minutes) AS total_duration
FROM bike_sharing_trips
WHERE EXTRACT(MONTH FROM start_time) = 7
  AND EXTRACT(YEAR FROM start_time) = 2015
GROUP BY start_station_id
ORDER BY total_duration DESC
LIMIT 1;
```

In [11]:
codegen_model.predict(f"Write a Google SQL query that answers the following question.\nquestion: {question}")

```sql
SELECT start_station_id, SUM(duration_minutes) AS total_duration
FROM bike_sharing_trips
WHERE DATE BETWEEN '2015-07-01' AND '2015-07-31'
GROUP BY start_station_id
ORDER BY total_duration DESC
LIMIT 1;
```

These both write code but notice how it has to make assumptions about table names and column names.  The following section address how to guide the LLM to write runnable SQL with correct tables and columns.

---
## The Problem
Both LLMs write valide SQL queries.  However, notice that asking either LLM to write the query this way faces several issues:
- The queries do not reference the correct tables
- The column names are not the correct one from the correct tables

Basically, the generated SQL is a good starting point for a user to write a query that would retrieve the valid context for the users question.

**How to get a fully executable SQL query form the LLM?**

The following approach was created by iternatively refining text prompts and approaches for specific questions.

---
## Retrieve Table Schemas

The context that will be provided to the LLM to help write the SQL query will be the related tables schema.  The BigQuery tables used for this experiment are BigQuery public dataset tables:
- `bigquery-public-data.new_york.citibike_trips`
- `bigquery-public-data.new_york.citibike_stations`

To retrive the schemas for the tables the BigQuery [INFORMATIONM_SCHEMA](https://cloud.google.com/bigquery/docs/information-schema-intro) is used - specifically the [INFORMATION_SCHEMA.COLUMN_FIELD_PATHS](https://cloud.google.com/bigquery/docs/information-schema-column-field-paths) view.

In [12]:
BQ_PROJECT = 'bigquery-public-data'
BQ_DATASET = 'new_york'
BQ_TABLES = ['citibike_trips', 'citibike_stations']

In [13]:
query = f"""
    SELECT *
    FROM `{BQ_PROJECT}.{BQ_DATASET}.INFORMATION_SCHEMA.COLUMN_FIELD_PATHS`
    WHERE table_name in ({','.join([f'"{table}"' for table in BQ_TABLES])})
"""
print(query)
schema_columns = bq.query(query = query).to_dataframe()

    SELECT *
    FROM `bigquery-public-data.new_york.INFORMATION_SCHEMA.COLUMN_FIELD_PATHS`
    WHERE table_name in ("citibike_trips","citibike_stations")

In [14]:
schema_columns.head()

,table_catalog,table_schema,table_name,column_name,field_path,data_type,description,collation_name,rounding_mode
0,bigquery-public-data,new_york,citibike_stations,station_id,station_id,STRING,Unique identifier of a station.,NULL,None
1,bigquery-public-data,new_york,citibike_stations,name,name,STRING,Public name of the station.,NULL,None
2,bigquery-public-data,new_york,citibike_stations,short_name,short_name,STRING,"Short name or other type of identifier, as use...",NULL,None
3,bigquery-public-data,new_york,citibike_stations,latitude,latitude,FLOAT64,The latitude of station. The field value must ...,NULL,None
4,bigquery-public-data,new_york,citibike_stations,longitude,longitude,FLOAT64,The longitude of station. The field value must...,NULL,None

In [15]:
# schema_columns.to_markdown(index = False)

### Notes On Efficient Information Schema Retrieval

In this example the entire schema is used as context.  But what happens when there are many table and many columns?  Eventually the size will exceed the input size of the LLM.  It is also possible to misguide the LLM in the creation of code by supply too much information - especially when on different topics.

Using semantic retrieval with embeddings is a great solution in this situation:
- create embeddings for all table descriptions
- create embeddings for all column descriptions
- create a vector database with indexes for tables and embeddings
- When a new question comes in find the most applicable table(s) and columns:
    - embed the questions
    - do a vector search for matching table(s)
    - do a vector search for matching columns on the already matched table(s)
    - prepare a schema for just the matched tables and columns

---
## Code Generation LLM - With Context

In this attempt, ask the code generation LLM to write valid SQL and also provide it context.  In this case the context is the schema of the tables that are relevant to Citibike rentals.

Turning the table that represent the schema into context is done here by using a conversion to markdown.  This is an area where users can experiment with the format.  JSON, CSV, ....  I like markdown because it includes the column names a single time and is delimited by the header row notation of markdown!

In [16]:
context_prompt = f"""
Write a Google SQL query for BigQuery that answers the following question while using the provided context to correctly refer to BigQuery tables and the needed column names.  When joining tables use coersion to ensure an join columns are the same data type. Output column names should include the units when applicable. 
question:
{question}

context:
{schema_columns.to_markdown(index = False)}
"""

context_query = codegen_model.predict(context_prompt, max_output_tokens = 256)

print(context_query.text)

```sql
SELECT
  start_station_name AS station_name,
  SUM(tripduration) AS total_duration_minutes
FROM bigquery-public-data.new_york.citibike_trips
WHERE
  EXTRACT(MONTH FROM starttime) = 7
  AND EXTRACT(YEAR FROM starttime) = 2015
GROUP BY
  start_station_name
ORDER BY
  total_duration_minutes DESC
LIMIT
  1;
```

In [17]:
print(context_prompt)

Write a Google SQL query for BigQuery that answers the following question while using the provided context to correctly refer to BigQuery tables and the needed column names.  When joining tables use coersion to ensure an join columns are the same data type. Output column names should include the units when applicable.
question:
Which station had most rentals (longest total duration) during July 2015?

context:
| table_catalog        | table_schema   | table_name        | column_name               | field_path                | data_type   | description                                                                                            | collation_name   | rounding_mode   |
|:---------------------|:---------------|:------------------|:--------------------------|:--------------------------|:------------|:-------------------------------------------------------------------------------------------------------|:-----------------|:----------------|
| bigquery-public-data | new_york       | citibike_stations | station_id                | station_id                | STRING      | Unique identifier of a station.                                                                        | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | name                      | name                      | STRING      | Public name of the station.                                                                            | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | short_name                | short_name                | STRING      | Short name or other type of identifier, as used by the data publisher.                                 | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | latitude                  | latitude                  | FLOAT64     | The latitude of station. The field value must be a valid WGS 84 latitude in decimal degrees format.    | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | longitude                 | longitude                 | FLOAT64     | The longitude of station. The field value must be a valid WGS 84 latitude in decimal degrees format.   | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | region_id                 | region_id                 | INT64       | ID of the region where station is located.                                                             | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | rental_methods            | rental_methods            | STRING      | Array of enumerables containing the payment methods accepted at this station.                          | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | capacity                  | capacity                  | INT64       | ANumber of total docking points installed at this station, both available and unavailable.             | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | eightd_has_key_dispenser  | eightd_has_key_dispenser  | BOOL        |                                                                                                        | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | num_bikes_available       | num_bikes_available       | INT64       | Number of bikes available for rental.                                                                  | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | num_bikes_disabled        | num_bikes_disabled        | INT64       | Number of disabled bikes at the station.                                                               | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | num_docks_available       | num_docks_available       | INT64       | Number of docks accepting bike returns.                                                                | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | num_docks_disabled        | num_docks_disabled        | INT64       | Number of empty but disabled dock points at the station.                                               | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | is_installed              | is_installed              | BOOL        | Is the station currently on the street?                                                                | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | is_renting                | is_renting                | BOOL        | Is the station currently renting bikes?                                                                | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | is_returning              | is_returning              | BOOL        | Is the station accepting bike returns?                                                                 | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | eightd_has_available_keys | eightd_has_available_keys | BOOL        |                                                                                                        | NULL             |                 |
| bigquery-public-data | new_york       | citibike_stations | last_reported             | last_reported             | TIMESTAMP   | Timestamp indicating the last time this station reported its status to the backend, in NYC local time. | NULL             |                 |
| bigquery-public-data | new_york       | citibike_trips    | tripduration              | tripduration              | INT64       | Trip Duration (in seconds)                                                                             | NULL             |                 |
| bigquery-public-data | new_york       | citibike_trips    | starttime                 | starttime                 | TIMESTAMP   | Start Time                                                                                             | NULL             |                 |
| bigquery-public-data | new_york       | citibike_trips    | stoptime                  | stoptime                  | TIMESTAMP   | Stop Time                                                                                              | NULL             |                 |
| bigquery-public-data | new_york       | citibike_trips    | start_station_id          | start_station_id          | INT64       | Start Station ID                                                                                       | NULL             |                 |
| bigquery-public-data | new_york       | citibike_trips    | start_station_name        | start_station_name        | STRING      | Start Station Name                                                                                     | NULL             |                 |
| bigquery-public-data | new_york       | citibike_trips    | start_station_latitude    | start_station_latitude    | FLOAT64     | Start Station Latitude                                                                                 | NULL             |                 |
| bigquery-public-data | new_york       | citibike_trips    | start_station_longitude   | start_station_longitude   | FLOAT64     | Start Station Longitude                                                                                | NULL             |                 |
| bigquery-public-data | new_york       | citibike_trips    | end_station_id            | end_station_id            | INT64       | End Station ID                                                                                         | NULL             |                 |
| bigquery-public-data | new_york       | citibike_trips    | end_station_name          | end_station_name          | STRING      | End Station Name                                                                                       | NULL             |                 |
| bigquery-public-data | new_york       | citibike_trips    | end_station_latitude      | end_station_latitude      | FLOAT64     | End Station Latitude                                                                                   | NULL             |                 |
| bigquery-public-data | new_york       | citibike_trips    | end_station_longitude     | end_station_longitude     | FLOAT64     | End Station Longitude                                                                                  | NULL             |                 |
| bigquery-public-data | new_york       | citibike_trips    | bikeid                    | bikeid                    | INT64       | Bike ID                                                                                                | NULL             |                 |
| bigquery-public-data | new_york       | citibike_trips    | usertype                  | usertype                  | STRING      | User Type (Customer = 24-hour pass or 7-day pass user, Subscriber = Annual Member)                     | NULL             |                 |
| bigquery-public-data | new_york       | citibike_trips    | birth_year                | birth_year                | INT64       | Year of Birth                                                                                          | NULL             |                 |
| bigquery-public-data | new_york       | citibike_trips    | gender                    | gender                    | STRING      | Gender (unknown, male, female)                                                                         | NULL             |                 |

In [18]:
context_response = bq.query(query = '\n'.join(context_query.text.split('\n')[1:-1])).to_dataframe()

In [19]:
context_response

             station_name  total_duration_minutes
0  Central Park S & 6 Ave                18055103

---
## Answer The Question

Now that a valid context has been retrieved from BigQuery it can be passed to a text generation LLM to answer the user questions.

In [20]:
question_prompt = f"""
Answer the following question using the provided context.  Note that the context is a tabular result returned from a BigQuery query.  Do not repeat the question or the context when responding.

question:
{question}
context:
{context_response}
"""

question_response = textgen_model.predict(question_prompt)

print(question_response.text)

 Central Park S & 6 Ave

In [21]:
question_prompt = f"""
Answer the following question using the provided context.  Note that the context is a tabular result returned from a BigQuery query. Provide the response in a conversational way instead of just the query result

question:
{question}
context:
{context_response}
"""

question_response = textgen_model.predict(question_prompt)

print(question_response.text)

 Central Park S & 6 Ave had the longest total duration of rentals, at 18055103 minutes.

In [22]:
#print(question_prompt)

---
## Put It All Together

Ask a new question and try it out:

In [23]:
question = 'What were the top five stations with most unique trips in July 2015?'

In [24]:
context_prompt = f"""
Write a Google SQL query for BigQuery that answers the following question while using the provided context to correctly refer to BigQuery tables and the needed column names.  When joining tables use coersion to ensure an join columns are the same data type. Output column names should include the units when applicable. 
question:
{question}

context:

{schema_columns.to_markdown(index = False)}
"""

context_query = codegen_model.predict(context_prompt, max_output_tokens = 256)

context_response = bq.query(query = '\n'.join(context_query.text.split('\n')[1:-1])).to_dataframe()

In [25]:
context_query

```sql
SELECT
  start_station_name AS station_name,
  COUNT(DISTINCT bikeid) AS unique_trips
FROM bigquery-public-data.new_york.citibike_trips
WHERE EXTRACT(MONTH FROM starttime) = 7
  AND EXTRACT(YEAR FROM starttime) = 2015
GROUP BY 1
ORDER BY 2 DESC
LIMIT 5;
```

In [26]:
question_prompt = f"""
Answer the following question using the provided context.  Note that the context is a tabular result returned from a BigQuery query.  Do not repeat the question or the context when responding.

question:
{question}
context:
{context_response}
"""

question_response = textgen_model.predict(question_prompt)

print(question_response.text)

 The top five stations with most unique trips in July 2015 were:
1. 8 Ave & W 31 St (6004)
2. Pershing Square North (5468)
3. West St & Chambers St (5259)
4. Lafayette St & E 8 St (5144)
5. E 17 St & Broadway (5116)

In [27]:
question_prompt = f"""
Answer the following question using the provided context.  Note that the context is a tabular result returned from a BigQuery query. Provide the response in a conversational way instead of just the query result

question:
{question}
context:
{context_response}
"""

question_response = textgen_model.predict(question_prompt)

print(question_response.text)

 The top five stations with the most unique trips in July 2015 were:
 1. 8 Ave & W 31 St with 6004 unique trips
 2. Pershing Square North with 5468 unique trips
 3. West St & Chambers St with 5259 unique trips
 4. Lafayette St & E 8 St with 5144 unique trips
 5. E 17 St & Broadway with 5116 unique trips

---
## All Together and More Complex

In [28]:
question = 'What were the top five stations with most trips started in July 2015 near central park?'

In [29]:
context_prompt = f"""
Write a Google SQL query for BigQuery that answers the following question while using the provided context to correctly refer to BigQuery tables and the needed column names.  When joining tables use coersion to ensure an join columns are the same data type. Output column names should include the units when applicable. 
question:
{question}

context:

{schema_columns.to_markdown(index = False)}
"""

context_query = codegen_model.predict(context_prompt, max_output_tokens = 256)

context_response = bq.query(query = '\n'.join(context_query.text.split('\n')[1:-1])).to_dataframe()

In [30]:
context_query

```sql
SELECT
  start_station_name AS station_name,
  COUNT(*) AS num_trips
FROM bigquery-public-data.new_york.citibike_trips
WHERE
  EXTRACT(MONTH FROM starttime) = 7
  AND EXTRACT(YEAR FROM starttime) = 2015
  AND start_station_latitude BETWEEN 40.769 AND 40.78
  AND start_station_longitude BETWEEN -73.985 AND -73.965
GROUP BY 1
ORDER BY 2 DESC
LIMIT 5;
```

In [31]:
question_prompt = f"""
Answer the following question using the provided context.  Note that the context is a tabular result returned from a BigQuery query.  Do not repeat the question or the context when responding.

Include popular points of interest near each listed station.

question:
{question}
context:
{context_response}
"""

question_response = textgen_model.predict(question_prompt, max_output_tokens = 500)

print(question_response.text)

 1.  Broadway & W 60 St (Central Park Zoo, Lincoln Center, Time Warner Center) 8793
2.  Columbus Circle (Central Park, Museum of Modern Art, Time Warner Center) 5237
3.  W 59 St & 8th Ave (Central Park, Lincoln Center, Museum of Modern Art) 4912
4.  W 59 St & 7th Ave (Central Park, Lincoln Center, Museum of Modern Art) 4611
5.  W 59 St & 6th Ave (Central Park, Rockefeller Center, Radio City Music Hall) 4409

---
## Implementing an quick Open Source UI

In [40]:
def bq_qna(question):
    
    context_prompt = f"""
    Write a Google SQL query for BigQuery that answers the following question while using the provided context to correctly refer to BigQuery tables and the needed column names.  When joining tables use coersion to ensure an join columns are the same data type. Output column names should include the units when applicable. 
    question:
    {question}

    context:

    {schema_columns.to_markdown(index = False)}
    """

    context_query = codegen_model.predict(context_prompt, max_output_tokens = 256)

    context_response = bq.query(query = '\n'.join(context_query.text.split('\n')[1:-1])).to_dataframe()
    
    
    question_prompt = f"""
    Answer the following question using the provided context.  Note that the context is a tabular result returned from a BigQuery query.  Do not repeat the question or the context when responding.

    Include popular points of interest near each listed station.

    question:
    {question}
    context:
    {context_response}
    """

    question_response = textgen_model.predict(question_prompt, max_output_tokens = 500)

    print(question_response.text)
    
    return (question_response.text), context_query, context_response

In [41]:
import gradio as gr

with gr.Blocks() as demo:
    gr.Markdown(
    """
    ## Ask BigQuery : Access to Data through Conversation Queries

    This demo is to showcase answering questions on a tabular data available in Big Query using Vertex PaLM2 API & Codey API

    Dataset: Public dataset on Citibike Trips and Stations for New York City (citibike_trips, citibike_stations)
    BQ_PROJECT = 'bigquery-public-data'
    BQ_DATASET = 'new_york'
    BQ_TABLES = ['citibike_trips', 'citibike_stations']

    Dataset dimensions: ~33 million rows and 15 columns in the trips table



    ### Sample Inputs:
    1. Which station had most rentals (longest total duration) during July 2015?
    2. What were the top five stations with most unique trips in July 2015?
    3. What were the top five stations with most trips started in July 2015 near central park?

    ### Enter a search query...

    """)
    with gr.Row():
      with gr.Column():
        input_text = gr.Textbox(label="Question", placeholder="Which station had most rentals (longest total duration) during July 2015?")

    with gr.Row():
      generate = gr.Button("Ask BigQuery")

    with gr.Row():
      label2 = gr.Textbox(label="Output")
    with gr.Row():
      label3 = gr.Textbox(label="SQL query generated by LLM")
    with gr.Row():
      label4 = gr.Textbox(label="BigQuery Output")

    generate.click(bq_qna,input_text, [label2, label3, label4])
    # generate.click(bq_qna,input_text, label2)
demo.launch(share=True, debug=False)

Running on local URL:  http://127.0.0.1:7864
Running on public URL: https://59f05dfc5624723e5b.gradio.live

This share link expires in 72 hours. For free permanent hosting and GPU upgrades, run `gradio deploy` from Terminal to deploy to Spaces (https://huggingface.co/spaces)

 Central Park S & 6 Ave, which is near the Central Park Zoo, Wollman Rink, and the Naumburg Bandshell.
 1. 8 Ave & W 31 St - Madison Square Garden, Empire State Building, Macy's Herald Square
2. Pershing Square North - Pershing Square, The Broad, Walt Disney Concert Hall
3. West St & Chambers St - World Trade Center, One World Observatory, 9/11 Memorial
4. Lafayette St & E 8 St - Washington Square Park, New York University, Cooper Union
5. E 17 St & Broadway - Union Square, Flatiron Building, Madison Square Park
 1  Central Park S & 6th Ave  6931
     2  W 59 St & 8th Ave      6414
     3  Columbus Circle        5927
     4  E 59 St & 2nd Ave     4802
     5  W 49 St & 6th Ave     4689
     6  W 53 St & 6th Ave     4319
     7  W 42 St & 8th Ave     4291
     8  W 43 St & 10th Ave    4111
     9  W 52 St & 5th Ave     3921

The top five stations with the most trips started in July 2015 near Central Park are:

1.  Broadway & W 60 St (8793 trips)
 - Points of interest: Lincoln Center, Time Warner Center, The Shops at Columbus Circle

2. Central Park S & 6th Ave (6931 trips)
 - Points of interest: The Plaza Hotel, Central Park Zoo, Wollman Rink

3. W 59 St & 8th Ave (6414 trips)
 - Points of interest: The Museum of Modern Art, Radio City Music Hall, Rockefeller Center

4. Columbus Circle (5927 trips)
 - Points of interest: The Time Warner Center, The Shops at Columbus Circle, Lincoln Center

5. E 59 St & 2nd Ave (4802 trips)
 - Points of interest: Bloomingdale's, Bergdorf Goodman, The Plaza Hotel
 1. 8 Ave & W 31 St - Madison Square Garden, Empire State Building, Macy's Herald Square
2. Pershing Square North - Pershing Square, The Broad, Walt Disney Concert Hall
3. West St & Chambers St - World Trade Center, One World Observatory, 9/11 Memorial
4. Lafayette St & E 8 St - Washington Square Park, New York University, Cooper Union
5. E 17 St & Broadway - Union Square, Flatiron Building, Madison Square Park
 1  Central Park S & 6th Ave  6931
     2  W 59 St & 8th Ave      6414
     3  Columbus Circle        5927
     4  E 59 St & 2nd Ave     4802
     5  W 49 St & 6th Ave     4689
     6  W 53 St & 6th Ave     4319
     7  W 42 St & 8th Ave     4291
     8  W 43 St & 10th Ave    4111
     9  W 52 St & 5th Ave     3921

The top five stations with the most trips started in July 2015 near Central Park are:

1.  Broadway & W 60 St (8793 trips)
 - Points of interest: Lincoln Center, Time Warner Center, The Shops at Columbus Circle

2. Central Park S & 6th Ave (6931 trips)
 - Points of interest: The Plaza Hotel, Central Park Zoo, Wollman Rink

3. W 59 St & 8th Ave (6414 trips)
 - Points of interest: The Museum of Modern Art, Radio City Music Hall, Rockefeller Center

4. Columbus Circle (5927 trips)
 - Points of interest: The Time Warner Center, The Shops at Columbus Circle, Lincoln Center

5. E 59 St & 2nd Ave (4802 trips)
 - Points of interest: Bloomingdale's, Bergdorf Goodman, The Plaza Hotel